<div class="row">
	<div class="col-md-7">
		<div class="btn-group">
			<%= select_tag "categories", options_from_collection_for_select(@categories, "id", "name"),:class=>'btn btn-default dropdown-toggle' ,:multiple=>false, :prompt=>"Select category" %>
    	<br /><br />
		</div>
	</div>
	<div class="col-md-5">
		
	</div>
</div>
